server {
    listen          3000;
    server_name     laravel.dev;

    root            [INSERT-PATH]/frontend-workflows-with-angularjs/laravel-backend/public;

    location /
    {
        index index.php index.html index.htm;
    }

    # Enforce No WWW - I put this in an include:
    # include /etc/nginx/includes/enforce_non_www;
    if ($host ~* ^www\.(.*))
    {
        set $host_without_www $1;
        rewrite ^/(.*)$ $scheme://$host_without_www/$1 permanent;
    }

    # Check if file exists
    if (!-e $request_filename)
    {
        rewrite ^/(.*)$ /index.php?/$1 last;
        break;
    }

    # catch all
    error_page 404 /index.php;

    # The PHP Inclusion Block
    location ~ \.php(.*)$
    {
        # Pass the PHP files to PHP FastCGI for processing
        try_files $uri = 404;
        include fastcgi_params;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_param  SCRIPT_FILENAME [INSERT-PATH]/frontend-workflows-with-angularjs/laravel-backend/public$fastcgi_script_name;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
    }

    # Deny Any Access to .htaccess Files That May Be Present (not usually in issue in Laravel)
    # include /etc/nginx/includes/deny_htaccess;
    location ~ /\.ht
    {
        deny all;
    }

}
